{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>The Who's On First Spelunker</h2>

<h3>What is this thing?</h3>

<p>The act of spelunking is defined as:</p>

<blockquote>
<p><span class="hey-look">spelunking</span> |spiˈləNGkiNG| nounN. Amer. <span class="hey-look">the exploration of caves, especially as a hobby.</span></p>
</blockquote>

<h3>Wait... What is Who's On First?</h3>

<p>There is <a href="https://mapzen.com/blog/who-s-on-first">a very detailed (and not short) blog post</a> discussing what Who's On First is and why Mapzen created it.</p>

<h3>How do I use the spelunker?</h3>

<p>By poking around!</p>

<h3>Can I update data using the spelunker?</h3>

<p>Nope. The spelunker is a read-only tool, by design. Eventually there will be a web-based tool for editing Who's On First data but this is not that tool.</p>

<h3>Can I run my own copy of the spelunker?</h3>

<p>Yes! The spelunker is an open-source tool and you can grab a copy of the source code from <a href="https://github.com/whosonfirst/whosonfirst-www-spelunker">our GitHub repository</a>. As of this writing the documentation is a little sparse but that will improve over time.</p>

<h3>Can I get a copy of all the data in the spelunker?</h3>

<p>Yes! All of the data is currently available on GitHub:</p>

<ul>
<li><a href="https://github.com/whosonfirst/whosonfirst-data">https://github.com/whosonfirst/whosonfirst-data</a></li>
<li><a href="https://github.com/whosonfirst/whosonfirst-venue">https://github.com/whosonfirst/whosonfirst-venue</a></li>
</ul>

<p>The data is currently sorted in to two separate repositories: <code>whosonfirst-data</code> is administrative places like countries and localities and neighbourhoods while <code>whosonfirst-venue</code> is business listings. Keep in mind that the <code>whosonfirst-venue</code> repository is <strong>VERY VERY BIG</strong>. It's full of interesting stuff but if you're pressed for time or disk space you should probably start with the whosonfirst-data repository which is more manageable.</p>

<h3>Can I put other kinds of data in the spelunker?</h3>

<p>Probably? The spelunker is designed to consume simple <a href="">GeoJSON</a> files so there's nothing to prevent you from trying to import data from a different source. That said, the templates and much of the Javascript used to transform data expects specific properties to be present in the data. More specifically, nothing has been taught to behave nicely when that data isn't present. That's something we should do but it just hasn't happened yet. If you're feeling adventurous we'd love to hear what happens when you try to import a different dataset.</p>

{% endblock %}
