<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <!-- do we really need this? -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/leaflet.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/leaflet.label.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.label.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/tangram.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.geojson.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.net.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.tangram.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.styles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.handlers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.enmapify.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.js') }}"></script>

    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.bundle.js') }}"></script>
    -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spelunker.css') }}" />
    {% block head %}{% endblock %}
</head>
<body>
  <div id="nav" class="container">
    <div id="nav-search-x">
      <form method="GET" action="https://{{ request.host }}/search/" class="form-inline" role="form">

	<div class="form-group">
	  <label class="sr-only" for="q">Search for a place</label>
	<input type="text" name="q" id="q" placeholder="Search for a place" class="form-control"/>
	</div>
	<button type="submit" class="btn">Search</button>
      </form>
      <br clear="all" />
    </div>
    </div>

    <div class="container" id="content">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
