<!DOCTYPE html>
<html lang="en" 🌐>
<head>
    <title>Who's On First Spelunker | {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.label.css') }}" />

    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.styleguide.css') }}" />
    -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.whosonfirst.log.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.whosonfirst.spelunker.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.whosonfirst.spelunker.mobile.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/leaflet.label.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/tangram.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.php.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.log.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.placetypes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.geojson.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.net.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.tangram.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.styles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.leaflet.handlers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.enmapify.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.properties.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.yesnofix.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.js') }}"></script>

    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.dependencies.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.app.js') }}"></script>
    -->

    {% block head %}{% endblock %}
</head>
<body data-abs-root-url="{{ url_for('index') }}" data-wof-data-endpoint="">
  <div id="nav" class="container">

    <ul class="list-inline pull-left" id="nav-links">
      <li><a href="{{ url_for('index') }}">who's on <span class="hey-look">first</span></a></li>
      <li><a href="{{ url_for('random_place') }}">jump to a <span class="hey-look">random place</span></a></li>
    </ul>

    <div id="search" class="pull-right">
      <form method="GET" action="{{ url_for('searchify') }}" class="form-inline pull-right" role="form">

	<div class="form-group">
	  <label class="sr-only" for="q">Search for a place</label>
	  <input type="text" name="q" id="q" placeholder="Search for a place" class="form-control"/>
	</div>
	<button type="submit" class="btn">Search</button>
      </form>
      <br clear="all" />

      <small class="italic pull-right not-a-geocoder">remember &#8212; this is a simple full-text search tool and <span class="hey-look">not</span> a <a href="https://mapzen.com/pelias">proper geocoder</a></small>
    </div>

    </div>

    <div class="container" id="content">
      {% block content %}{% endblock %}
    </div>

    <div class="container">
      <div class="footer">
	<div class="pull-right">this is thing made by <a href="http://whosonfirst.mapzen.com/" class="hey-look">who's on first</a> and you can <span class="hey-look">read about the details</span> over on the handy <a href="{{ url_for('about') }}">about page</div>
      </div>
    </div>

</body>
</html>
