{% extends "base.html" %}
{% block title %}#brands | {{ brand |e }}{% endblock %}
{% block content %}

<div class="row">
<h3>Places that are a <q class="wof-namify-brand" data-wof-id="{{ brand |e }}">#{{ brand |e }}</a></h3>
</div>

{% include "inc_docs.html" %}

<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.brands.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.namify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.brand.js') }}"></script>

{% endblock %}
