{% extends "base.html" %}
{% block title %}#brands | {{ brand |e }}{% endblock %}
{% block content %}

<div class="row">
<h3>
Places that are a <span class="hey-look">#<span class="wof-namify-brand" data-wof-id="{{ brand |e }}">{{ brand |e }}</span></span>
{% include "inc_brands_caveat.html" %}
<small class="see-also">See <span class="hey-look">all</span> the <a href="{{ url_for('brands') }}">#brands</a></small>
</h3>
</div>

{% if error and error.type=="search_context_missing_exception" %}
{% set query = 'places that are a ' + brand %}
{% include "inc_pagination_expired.html" %}
{% else %}

{% include "inc_docs.html" %}

{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='javascript/localforage.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.brands.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.namify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.brand.js') }}"></script>

{% endblock %}
