{% extends "base.html" %}
{% block title %}Who's On First Bundler{% endblock %}
{% block content %}
<div class="row" id="wof-bundler" data-parent-id="{{ parent_id |e }}" data-wof-bbox="{{ doc.bbox.1|e }},{{ doc.bbox.0|e }},{{ doc.bbox.3|e }},{{ doc.bbox.2|e }}">
	<h2><strong>Bundle places</strong> within {{ doc.properties.get("wof:name") |e }}</h2>
	<ul>
		<li data-placetype="{{ doc.properties.get("wof:placetype") | e }}" data-count="1"><input type="checkbox" name="pt-self" id="pt-self" value="1"> <label for="pt-self">{{ doc.properties.get("wof:placetype") | e }}</label> <small>1 ({{ doc.properties.get("wof:name") |e }} itself)</small></li>
		{% for f in facets.placetype | reverse %}
			<li data-placetype="{{ f.key | e }}" data-count="{{ f.doc_count | e }}"><input type="checkbox" name="pt-{{ f.key | e }}" id="pt-{{ f.key | e }}" data-placetype="{{ f.key | e }}" value="1"> <label for="pt-{{ f.key | e }}">{{ f.key | e }}</label> <small>{{ f.doc_count |number_format|e }}</small></li>
		{% endfor %}
	</ul>
	<div id="bundle-btns">
		<a id="btn-bundle" class="btn btn-default" disabled="disabled">GeoJSON bundle</a>
		<a id="btn-summary" class="btn btn-default" disabled="disabled">CSV summary</a>
	</div>
	<div id="bundle-stats"></div>
	<div id="summary-stats"></div>
	<div id="bundle-status"><i>No places selected</i></div>
</div>

<div class="row">
	<div class="preview-controls">
		<input type="checkbox" id="preview-bundle" checked="checked">
		<label for="preview-bundle">
			Show bundle preview map
		</label>
		<small>mapping over 1,000 features may make your browser sad</small>
	</div>
	<div class="col-md-12" id="map"></div>
</div>

<div class="row">
	<div class="col-md-12">
		{% include "inc_log.html" %}
	</div>
</div>

<script src="{{ url_for('static', filename='javascript/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.api.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.bundler.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.bundler.js') }}"></script>
{% endblock %}
