{% extends "base.html" %}
{% block title %}Concordances{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-12">

<h3>
<span class="hey-look">Concordances</span> in Who's On First
<small class="see-also">
{% if count_concordances==0 %}
{% elif count_concordances==1 %}
There is <span class="hey-look">one other person</span> that Who's On First <span class="hey-look">holds hands</span> with
{% else %}
There are <span class="hey-look">{{ count_concordances |number_format|e }} different places</span> in Who's On First where <span class="hey-look">this</span> equals <span class="hey-look">that</span>
{% endif %}
</small>
</h3>

<ul class="list-inline">
{% for b in concordances %}
<li style="color:#666;">
  <small>{% if b.doc_count == 1 %}<span class="italic">one place</span> that holds hands w {% else %}<span class="italic">{{ b.doc_count |number_format|e }} places </span> that hold hands with {% endif %}</small>
  <a href="{{ url_for('for_concordance', who=b.prefix) }}" class="hey-look">{{ b.fullname|e }}</a>
</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
