{% extends "base.html" %}
{% block title %}Who's On First concordances with {{ src |e }}{% endblock %}
{% block head %}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Who's On First Spelunker" />
<meta property="og:title" content="Places where Who's On First holds hand with {{ src|e }}" />
<meta property="og:description" content="{% if pagination.total == 1 %}There is one place in Who's On First that has a concordance with {{ src | e}}{% else %}There are {{ pagination.total |number_format|e }} places in Who's On First that have a concordance with {{ src |e }}{% endif %}" />
<meta property="og:image" content="/images/wof-sq-pink.jpg" />

<meta property="twitter:card" value="summary" />
<meta property="twitter:site" content="@alloftheplaces" />
<meta property="twitter:creator" content="@alloftheplaces" />
<meta property="twitter:url" content="{{ request.base_url |e }}" />
<meta property="twitter:title" content="Places where Who's On First holds hand with {{ src|e }}" />
<meta property="twitter:description" content="{% if pagination.total == 1 %}There is one place in Who's On First that has a concordance with {{ src | e}}{% else %}There are {{ pagination.total |number_format|e }} places in Who's On First that have a concordance with {{ src |e }}{% endif %}" />
<meta property="twitter:image" content="/images/wof-sq-pink.jpg" />

{% endblock %}
{% block content %}

<div class="row"><h3>
{% if pagination.total == 1 %}
There is <span class="hey-look">one place</span> that has a concordance with <q class="hey-look">{{ src |e }}</q>
{% else %}
There are <span class="hey-look">{{ pagination.total |number_format|e }} places</span> that have a concordance with <q class="hey-look">{{ src |e }}</q>

{% if pagination.pages > 1 %}
{% if pagination.cursor %}
and this is one page <span class="hey-look">of many</span>
{% else %}
and this is <span class="hey-look">page {{ pagination.page |number_format|e }}</span> of {{ pagination.pages |number_format|e }}
{% endif %}
{% endif %}

{% endif %}

<small class="see-also">See all the <span class="hey-look">other things</span> that Who's On First <a href="{{ url_for('concordances') }}" class="hey-look">holds hands with</a></small>
</h3>

</div>

{% if error and error.type=="search_context_missing_exception" %}

{% set query = 'places that hold hands with ' + src %}
{% include "inc_pagination_expired.html" %}

{% else %}

{% if pagination.count == 0 %}

<div class="row"><span style="font-size:2em;">😿 </span> can not find any concordances <q class="hey-look">{{ src|e }}</q></div>

{% else %}

{% include "inc_docs.html" %}

{% endif %}

{% endif %}

{% endblock %}
