<!DOCTYPE html>
<html>
 
<head>
  <title>WOF descender</title>
  <script type="text/javascript" src="/static/javascript/descender.filesaver.js"></script>
<!--   <script type="text/javascript" src="gistlink.js"></script> -->
  <script type="text/javascript" src="/static/javascript/descender.js"></script>
  <link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
  <script src="https://mapzen.com/js/mapzen.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>WOF Descender · Mapzen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://mapzen.com/common/styleguide/styles/styleguide.css">
  <style>
  #map {
    height: 400px;
    width: 100%;
    position: relative;
  }
  html,body{margin: 0; padding: 0}
    </style>
</head>

<body>
<div class="container">

<h1>WOF Descender!</h1>
<hr>Enter a <a href="https://whosonfirst.mapzen.com/spelunker">Who's on First ID</a> and get a blob of GeoJSON of its <a href="https://github.com/whosonfirst/whosonfirst-placetypes">descendants</a>!</h2>
<!-- 
<h6>continent > empire > country > macroregion > region > macrocounty > "county" > "metro area"> locality > macrohood > neighbourhood > microhood > campus > building > address > venue </h6>
<h6>continent > country > region > "county" > locality > neighbourhood</h6>
 -->
<br>Search all of the
<select name="wof_parent_level" value='country' id="wof_parent_level">
        <option value="continent">continents</option>
        <option value="country" selected="selected">countries</option>
        <option value="region">regions</option>
        <option value="county">counties*</option>
        <option value="localadmin">localadmins*</option>
        <option value="locality">localities*</option>
        <option value="macrohood">macrohoods*</option>
        <option value="neighbourhood">neighbourhoods*</option>
        <option value="microhood">microhoods*</option>
        <option value="postalcode">postalcodes*</option>
        <option value="campus">campuses*</option>
        <option value="venue">venues*</option>
        <option value="address">addresses*</option>
        <option value="">--less common--</option>
        <option value="planet">planets</option>
        <option value="continent">continents</option>
        <option value="ocean">oceans</option>
        <option value="empire">empires</option>
        <option value="timezone">timezones</option>
        <option value="marinearea">marine areas</option>
        <option value="dependency">dependencies</option>
        <option value="macroregion">macroregions</option>
        <option value="metroarea">metro areas</option>
        <option value="borough">boroughs</option>
        <option value="disputed">disputed areas</option>
    </select>
for
  <input type="text" name="wof_search" id="wof_search" value="Canada">
   
  <button class="btn btn-mapzen" type="submit" id="wof_search_button">GET WOF*</button>
<br>
<!-- experiments in a UI for entering a WOF ID and level -->
<form name="wof_data">  <!--  action="start()" -->

  WOF ID:
  <input type="text" name="wof_id" value="85633041" placeholder="85633041" id="wof_id"> 
   Descendant type: 
    <select name="wof_level" value='region' id="wof_level">
        <option value="country">country (C)</option>
        <option value="region" selected="selected">region (C)</option>
        <option value="county">county (CO)</option>
        <option value="localadmin">localadmin (CO)</option>
        <option value="locality">locality (C)</option>
        <option value="macrohood">macrohood (O)</option>
        <option value="neighbourhood">neighbourhood (C)</option>
        <option value="microhood">microhood (O)</option>
        <option value="postalcode">postalcode (CO)</option>
        <option value="campus">campus (CO)</option>
        <option value="venue">venue (CO)</option>
        <option value="address">address (CO)</option>
        <option value="">--less common--</option>
        <option value="planet">planet (CO)</option>
        <option value="continent">continent (C)</option>
        <option value="ocean">ocean (CO)</option>
        <option value="empire">empire </option>
        <option value="timezone">timezone (CO)</option>
        <option value="marinearea">marinearea (CO)</option>
        <option value="dependency">dependency (CO)</option>
        <option value="macroregion">macroregion (O)</option>
        <option value="metroarea">metro area (O)</option>
        <option value="borough">borough (CO)</option>
        <option value="disputed">disputed area (CO)</option>
    </select>
  <button class="btn btn-mapzen" type="submit" id="wof_button">DESCEND</button>
<!-- disabled="disabled" -->
<br>


<!-- 
<form>
  <div class="form-group">
    <input type="checkbox" id="includeParent" name="includeParent">
    <label for="check-1">include parent in GeoJSON</label>
  </div>
</form>
 -->

<div id="parent_name">
<h2 id="h2_parent"><p id="p0"></h2>
</div>
<div id="map"></div>
<br>
<button class="btn btn-mapzen" type="submit" id="save" disabled="disabled">ENTER A WOF ID ABOVE</button>
<div id="descendant_name">
<br>
<p id="p1">
</div>


<br>
* Note: only the first search result is returned right now. It finds countries pretty well, regions are ok, but for lower levels like localities you may not get what you want, but if you try the <a href="https://whosonfirst.mapzen.com/spelunker">Who's on First Spelunker</a> you just might find you get what you need.
<br><br>
Some interesting descents:
<ul> 
<li><a href="?wof_id=102191577&wof_level=region">regions in South America</a></li>
<li><a href="?wof_id=85922583&wof_level=postalcode">ZIP codes in San Francisco</a></li>
<li><a href="?wof_id=85632685&wof_level=timezone">timezones in Russia</a></li>
<li><a href="?wof_id=85632469&wof_level=disputed">disputed areas of India</a></li>
</ul>

While you can skip levels (a.k.a. <a href="https://github.com/whosonfirst/whosonfirst-placetypes">placetypes</a>), only the first 500 results will be returned for now.

<script type="text/javascript" src="/static/javascript/descender.map.js"></script>

</div>
</body>
</html>