{% extends "base.html" %}
{% block title %}Download {{ doc.properties.get("wof:name") |e }} Descendants{% endblock %}
{% block content %}
<div class="row" id="wof-bundler" data-parent-id="{{ parent_id |e }}" data-wof-bbox="{{ doc.bbox.1|e }},{{ doc.bbox.0|e }},{{ doc.bbox.3|e }},{{ doc.bbox.2|e }}" data-parent-name="{{ doc.properties.get("wof:name") | e }}">
	<div class="col-md-6">
		<h3>Download descendants of <a href="{{ url_for('info', id=parent_id) | e }}">{{ doc.properties.get("wof:name") | e }}</a></h3>
		<small>Choose each placetype you wish to download.</small>
		<ul>
			<li data-placetype="{{ doc.properties.get("wof:placetype") | e }}" data-count="1"><input type="checkbox" name="pt-self" id="pt-self" value="1" class="placetype"> <label for="pt-self">{{ doc.properties.get("wof:placetype") | e }}</label> <small>1 ({{ doc.properties.get("wof:name") |e }} itself)</small></li>
			{% for f in facets.placetype | reverse %}
				<li data-placetype="{{ f.key | e }}" data-count="{{ f.doc_count | e }}"><input type="checkbox" name="pt-{{ f.key | e }}" id="pt-{{ f.key | e }}" data-placetype="{{ f.key | e }}" value="1" class="placetype"> <label for="pt-{{ f.key | e }}">{{ f.key | e }}</label> <small>{{ f.doc_count |number_format|e }}</small></li>
			{% endfor %}
		</ul>
		<div id="bundle-options">
			<div class="form-group">
				<input type="checkbox" id="bundle-simple-props">
				<label for="bundle-simple-props">Simple properties</label><br>
				<small>Bundle a small subset of WOF properties</small>
			</div>
			<div class="form-group">
				<input type="checkbox" id="bundle-github-gist">
				<label for="bundle-github-gist">Save as GitHub Gist</label><br>
				<small>Requires that you have a GitHub account</small>
			</div>
		</div>
		<div id="bundle-controls">
			<span id="selected-count">You have selected <strong>0</strong> features.</span> <a href="#" id="cancel-download" class="hidden">Cancel download</a>
			<div id="start-btn">
				<a id="btn-start" class="btn btn-mapzen btn-primary disabled">Start download</a>
			</div>
			<div id="output">
				<div id="bundle-btns" class="hidden">
					<a id="btn-bundle" class="btn btn-mapzen btn-primary">Save GeoJSON bundle</a>
					<a id="btn-summary" class="btn btn-mapzen btn-primary">Save CSV summary</a>
				</div>
				<div id="stats" class="hidden">
					<div id="bundle-stats"></div>
					<div id="summary-stats"></div>
				</div>
				<div id="bundle-status"></div>
				<div id="bundle-github" class="hidden">
					<div id="bundle-github-login"><a href="#" id="github-login" class="hey-look">Authorize with GitHub</a> (popup) to save results as a Gist.</div>
					<div id="bundle-github-logout">You are authorized with GitHub (<a href="#" id="github-logout">logout</a>), <strong>your results will be saved as a Gist</strong>.</div>
					<div id="bundle-github-uploading"><strong>Uploading your results</strong> to a GitHub Gist, please wait...</div>
					<div id="bundle-github-done"></div>
				</div>
				<div id="bundle-warning"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 preview-controls">
		<input type="checkbox" id="preview-bundle" checked="checked">
		<label for="preview-bundle">
			Show preview map
		</label>
		<small>previewing too many features will make your browser sad</small>
		<div id="map"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<small id="download-feature-credit">this feature was inspired by <a href="https://twitter.com/burritojustice">burritojustice</a>'s <a href="https://burritojustice.github.io/wof-descender/">WOF Descender</a></small>
		{% include "inc_log.html" %}
	</div>
</div>

<script src="{{ url_for('static', filename='javascript/localforage.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.bundler.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.download.js') }}"></script>
{% endblock %}
