{% extends "base.html" %}
{% block title %}Who's On First places where the official language is {{ lang_common |e }}{% endblock %}
{% block content %}
{% if pagination.count == 0 %}

<div class="row"><span style="font-size:2em;">😿 </span> There are no WOF records where the official language is <q class="hey-look">{{ lang_common|e }}</q></div>

{% else %}

<div class="row"><h3>
{% if pagination.total == 1 %}
There is <span class="hey-look">one place</span> where the official language is <q class="hey-look">{{ lang_common |e }}</q>
{% else %}
There are <span class="hey-look">{{ pagination.total |number_format|e }} places</span> where the official language is <q class="hey-look">{{ lang_common |e }}</q>
{% if pagination.pages > 1 %}
and this <span class="hey-look">page {{ pagination.page |number_format|e }}</span> of {{ pagination.pages |number_format|e }}
{% endif %}
{% endif %}

<small class="see-also">See all the places where <a href="{{ url_for('for_lang_spoken', lang=lang) }}" class="hey-look">people speak</a> {{ lang_common |e }} or just all the <a href="{{ url_for('languages_official') }}" class="hey-look">official languages</a> in Who's On First</small>
</h3></div>

{% include "inc_docs.html" %}

{% endif %}

{% endblock %}
