{% extends "base.html" %}
{% block title %}{{ doc.properties.get("wof:name") |e }} | {{ doc.properties.get("wof:id") |e }}{% endblock %}
{% block head %}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Who's On First Spelunker (a Mapzen gig)" />
<meta property="og:title" content="{{ doc.properties.get("wof:name") |e }} ({{ doc.properties.get("wof:id") |e }})" />
<meta property="og:description" content="{{ doc.properties.get("wof:name") |e }} is a {{ doc.properties.get("wof:placetype") |e }} {% if doc.properties.get("edtf:deprecated") %} - that is deprecated{% elif doc.properties.get("wof:superseded_by") %} - that has been superseded by WOF ID {{ doc.properties.get("wof:superseded_by").0 |e }}{% endif %} {% if doc.properties.get("wof:country", "") != "" %} :flag-{{ doc.properties.get("wof:country").lower() |e }}:{% endif %}" />
<meta property="og:image" content="https://whosonfirst.mapzen.com/images/wof-sq-pink.jpg" />

<meta property="twitter:card" value="summary" />
<meta property="twitter:site" content="@alloftheplaces" />
<meta property="twitter:creator" content="@alloftheplaces" />
<meta property="twitter:url" content="{{ request.base_url |e }}" />
<meta property="twitter:title" content="{{ doc.properties.get("wof:name") |e }} ({{ doc.properties.get("wof:id") |e }})" />
<meta property="twitter:description" content="{{ doc.properties.get("wof:name") |e }} is a {{ doc.properties.get("wof:placetype") |e }}{% if doc.properties.get("edtf:deprecated") %} - that is deprecated{% elif doc.properties.get("wof:superseded_by") %} - that has been superseded by WOF ID {{ doc.properties.get("wof:superseded_by").0 |e }}{% endif %}{% if doc.properties.get("wof:country", "") != "" %} :flag-{{ doc.properties.get("wof:country").lower() |e }}:{% endif %}" />
<meta property="twitter:image" content="https://whosonfirst.mapzen.com/images/wof-sq-pink.jpg" />
{% endblock %}
{% block content %}

<div class="row" id="wof-record" data-wof-id="{{ doc.properties.get('wof:id') |e }}" data-wof-bbox="{{ doc.bbox.1|e }},{{ doc.bbox.0|e }},{{ doc.bbox.3|e }},{{ doc.bbox.2|e }}">
<h2>
{{ doc.properties.get("wof:name") |e }} <small>{{doc.properties.get("wof:path") |e }}</small>

{% if doc.properties.get("edtf:deprecated") and doc.properties.get("wof:superseded_by") %}
<small class="flagged">this record has been both <strong>deprecated</strong> and <strong>superseded</strong></small>
{% elif doc.properties.get("edtf:deprecated") %}
<small class="flagged">this record has been <strong>deprecated</strong></small>
{% elif doc.properties.get("wof:superseded_by") %}
<small class="flagged">this record has been <strong>superseded</strong></small>
{% else %}

{% endif %}

</h2>
</div>

<div class="row">
<div class="col-md-12" id="map"></div>
</div>

<div class="row"><small>

{{ doc.properties.get("wof:name") | e }} is a <span class="hey-look">{{ doc.properties.get("wof:placetype") | e }}</span> and its consensus geometry is derived from <a href="{{ url_for('searchify') }}?q={{ doc.properties.get('src:geom', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:geom', 'unknown') | e}}</a>.

{% if doc.properties.get("wof:placetype") != 'venue' %}
{% if doc.properties.get("src:lbl:centroid") %}Its <span class="hey-look">label centroid</span> is derived from <a href="{{ url_for('searchify') }}?q={{ doc.properties.get('src:lbl:centroid', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:lbl:centroid', 'unknown') | e}}</a>.{% elif doc.properties.get("src:centroid_lbl") %}Its <span class="hey-look">label centroid</span> is derived from <a href="{{ url_for('searchify') }}?q={{ doc.properties.get('src:centroid_lbl', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:centroid_lbl', 'unknown') | e}}</a> ... and it looks like the label centroid needs to be reprocessed.{% else %}OH NOES!!! MISSING <span class="hey-look">LABEL CENTROID</span>{% endif %}
{% endif %}

<span style="font-style:italic;">Take a <a href="#" class="hey-look" onclick="javascript:mapzen.whosonfirst.leaflet.tangram.screenshot_as_file('map');return false;" title="screenshot this map">screenshot of this map</a> (this may require a few seconds to complete)</span>
</small></div>

<div class="row">

<div class="col-md-6 col">

<h3>Properties <small class="italic"> &#8212; some notes about <a href="https://github.com/whosonfirst/whosonfirst-sources" target="wof">sources</a> and <a href="https://github.com/whosonfirst/whosonfirst-names" target="wof">names</a></small>

<div id="props-toggle" class="pull-right">
<button class="btn btn-sm" id="props-toggle-raw">view raw</button>
<button class="btn btn-sm" id="props-toggle-pretty">make pretty</button>
</div>

</h3>

<div id="props-wrapper" class="table-responsive">
<pre id="props-raw">
<small># This is the raw properties hash from the source data itself.
# It _should_ magically transform itself in to a pretty formatted
# table and if it doesn't that probably means there's something wrong
# with the data itself (or maybe it just hasn't been synced yet).
# Or maybe you pressed the "view raw" button to see the raw data.
# Raw data is raw.</small>

{{ doc['properties'] |pprint|e }}</pre>
</div>

{% if doc.properties.get("wof:placetype") != 'venue' %}
<h3>Bounding box</h3>

<h4>swlat, swlon, nelat, nelon</h4>
<pre>{{ doc['bbox'][1] |e }}, {{ doc['bbox'][0] |e }}, {{ doc['bbox'][3] |e }}, {{ doc['bbox'][2] |e }}</pre>

<h4>swlon, swlat, nelon, nelat</h4>
<pre>{{ doc['bbox'][0] |e }}, {{ doc['bbox'][1] |e }}, {{ doc['bbox'][2] |e }}, {{ doc['bbox'][3] |e }}</pre>
{% endif %}

</div>

<div class="col-md-1"></div>

<div class="col-md-5 col">

<h3>Hierarchy</h3>

{% for hierarchy in hierarchies %}
<ul>
{% for w in hierarchy %}
{% if w[1] %}
<li>the <span class="hey-look">{{ w[0]|e }}</span> of <a href="{{ url_for('info', id=w[1]['properties']['wof:id']) }}">{{ w[1]['properties']['wof:name'] | e }}</a></li>
{% else %}
<li class="missing-or-invalid italic">a <span class="hey-look">{{ w[0] | escape }}</span> that we aren't able to index correctly because... ?</li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}

<h4>Other</h4>
<ul>

{% if doc.properties.get("wof:placetype") != 'venue' %}
<li><a href="{{ url_for('info', id=doc.properties.get("wof:id")) }}descendants/?exclude=nullisland">See all the descendants of {{ doc.properties.get("wof:name") | e }}</a></li>
{% endif %}

<li><a href="/bundler/{{ doc.properties.get("wof:id") | e }}">Download descendants of {{ doc.properties.get("wof:name") | e }}</a></li>

<li><a href="/data/{{ doc.properties.get("wof:path") |e }}" target="data">Raw data (GeoJSON)</a></li>

</ul>

{% include "inc_log.html" %}

</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.id.js') }}"></script>
{% endblock %}
