{% extends "base.html" %}
{% block title %}{{ doc.properties.get("wof:name") |e }} | {{ doc.properties.get("wof:id") |e }}{% endblock %}
{% block content %}

<div class="row">
<h2>{{ doc.properties.get("wof:name") |e }} <small>{{doc.properties.get("wof:path") |e }}</small></h2>
</div>

<div class="row">
<div class="col-md-12" id="map"></div>
</div>

<div class="row"><small>

{{ doc.properties.get("wof:name") | e }} is a <span class="hey-look">{{ doc.properties.get("wof:placetype") | e }}</span> and its consensus geometry is derived from <a href="/search/?q={{ doc.properties.get('src:geom', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:geom', 'unknown') | e}}</a>.

{% if doc.properties.get("wof:placetype") != 'venue' %}
{% if doc.properties.get("src:lbl:centroid") %}Its <span class="hey-look">label centroid</span> is derived from <a href="/search/?q={{ doc.properties.get('src:lbl:centroid', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:lbl:centroid', 'unknown') | e}}</a>.{% elif doc.properties.get("src:centroid_lbl") %}Its <span class="hey-look">label centroid</span> is derived from <a href="/search/?q={{ doc.properties.get('src:centroid_lbl', 'unknown') | e}}" class="hey-look">{{ doc.properties.get('src:centroid_lbl', 'unknown') | e}}</a> ... and it looks like the label centroid needs to be reprocessed.{% else %}OH NOES!!! MISSING <span class="hey-look">LABEL CENTROID</span>{% endif %}
{% endif %}

</small></div>

<div class="row">

<div class="col-md-6 col">

<h3>Properties <small class="italic"> &#8212; some notes about <a href="https://github.com/whosonfirst/whosonfirst-sources" target="wof">sources</a> and <a href="https://github.com/whosonfirst/whosonfirst-names" target="wof">names</a></small>

<div id="props-toggle" class="pull-right">
<button class="btn btn-sm" id="props-toggle-raw">view raw</button>
<button class="btn btn-sm" id="props-toggle-pretty">make pretty</button>
</div>

</h3>

<div id="props-wrapper" class="table-responsive">
<pre id="props-raw">
<small># This is the raw properties hash from the source data itself.
# It _should_ magically transform itself in to a pretty formatted
# table and if it doesn't that probably means there's something wrong
# with the data itself (or maybe it just hasn't been synced yet).
# Or maybe you pressed the "view raw" button to see the raw data.
# Because raw data is raw.</small>

{{ doc['properties'] |pprint|e }}</pre>
</div>

{% if doc.properties.get("wof:placetype") != 'venue' %}
<h3>Bounding box</h3>

<h4>swlat, swlon, nelat, nelon</h4>
<pre>{{ doc['bbox'][1] |e }}, {{ doc['bbox'][0] |e }}, {{ doc['bbox'][3] |e }}, {{ doc['bbox'][2] |e }}</pre>

<h4>swlon, swlat, nelon, nelat</h4>
<pre>{{ doc['bbox'][0] |e }}, {{ doc['bbox'][1] |e }}, {{ doc['bbox'][2] |e }}, {{ doc['bbox'][3] |e }}</pre>
{% endif %}

</div>

<div class="col-md-1"></div>

<div class="col-md-5 col">

<h3>Hierarchy</h3>

{% for hierarchy in hierarchies %}
<ul>
{% for w in hierarchy %}
{% if w[1] %}
<li>the <span class="hey-look">{{ w[0]|e }}</span> of <a href="/id/{{ w[1]['properties']['wof:id'] | e }}/">{{ w[1]['properties']['wof:name'] | e }}</a></li>
{% else %}
<li class="missing-or-invalid italic">a <span class="hey-look">{{ w[0] | escape }}</span> that we aren't able to index correctly because... ?</li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}

<h4>Other</h4>
<ul>

{% if doc.properties.get("wof:placetype") != 'venue' %}
<li><a href="/id/{{ doc.properties.get("wof:id") |e }}/descendants/">See all the descendants of {{ doc.properties.get("wof:name") | e }}</a></li>
{% endif %}

{% if 0 %}
<li><a href="/reverse/?latitude={{ doc.properties.get("geom:latitude") |e }}&longitude={{ doc.properties.get("geom:longitude") |e }}" target="_reversegeo">Reverse geocode</a> ({{ doc.properties.get("geom:latitude") |e }}, {{ doc.properties.get("geom:longitude") |e }})</li>
{% endif %}

<li><a href="/data/{{ doc.properties.get("wof:path") |e }}" target="data">Raw data (GeoJSON)</a></li>

</ul>

{% include "inc_log.html" %}

</div>
</div>

<script type="text/javascript">

window.onload = function(e){

	mapzen.whosonfirst.spelunker.toggle_data_endpoint("{{ doc.properties.get("wof:placetype") |e }}");

	// first we draw the map

	var map = mapzen.whosonfirst.leaflet.tangram.map_with_bbox('map', {{ doc.bbox.1|e }},{{ doc.bbox.0|e }}, {{ doc.bbox.3|e }}, {{ doc.bbox.2|e }});
	mapzen.whosonfirst.enmapify.render_id(map, {{ doc.properties.get("wof:id") |e }});

	// now we format the properties hash

	var url = mapzen.whosonfirst.data.id2abspath({{ doc.properties.get("wof:id") |e }});

	var cb = function(feature){

		var props = feature['properties'];
		var id = props['wof:id'];

		try {
			var pretty = mapzen.whosonfirst.spelunker.render_properties(props);
		}

		catch(e) {
			mapzen.whosonfirst.log.error("failed to format properties for ID " + id + ", because " + e);
			return;
		}

		try {
			var wrapper = document.getElementById("props-wrapper");
			wrapper.appendChild(pretty);

			var raw = wrapper.children[0];
			raw.setAttribute("style", "display:none");

			//wrapper.replaceChild(pretty, raw);

			var toggle = document.getElementById("props-toggle");
			toggle.setAttribute("style", "display:block");

			var toggle_raw = document.getElementById("props-toggle-raw");
			toggle_raw.setAttribute("style", "display:block");

			toggle_raw.onclick = function(){

				raw.setAttribute("style", "display:block");
				pretty.setAttribute("style", "display:none");

				toggle_raw.setAttribute("style", "display:none");
				toggle_pretty.setAttribute("style", "display:block");
			};

			var toggle_pretty = document.getElementById("props-toggle-pretty");

			toggle_pretty.onclick = function(){

				raw.setAttribute("style", "display:none");
				pretty.setAttribute("style", "display:block");

				toggle_raw.setAttribute("style", "display:block");
				toggle_pretty.setAttribute("style", "display:none");
			};
		}

		catch (e){
			mapzen.whosonfirst.log.error("failed to render properties for ID " + id + ", because " + e);
			return;
		}

		mapzen.whosonfirst.spelunker.draw_names("props-uoc-name");
	}

	var on_fail = function(){
		mapzen.whosonfirst.log.error("failed to format and render properties, because there was a problem retrieving " + url);
	};

	mapzen.whosonfirst.net.fetch(url, cb);
        return;
};

</script>
{% endblock %}
