<ol class="list">
{% for doc in docs %}
<li>
  <a href="https://{{ request.host }}/id/{{ doc['properties']['wof:id'] |e }}/">{{ doc['properties']['wof:name'] |e }}</a>
  <code>{{ doc['properties']['wof:id'] |e }}</code>
  <small>
    &#8212;
    {% if doc['properties']['iso:country'] |e %}
    this is a <a href="/placetypes/{{ doc['properties']['wof:placetype'] |e }}/">{{ doc['properties']['wof:placetype'] |e }}</a> in <span class="hey-look">{{ doc['properties']['iso:country'] |e }}</span>
    {% else %}
    this is a <a href="/placetypes/{{ doc['properties']['wof:placetype'] |e }}/">{{ doc['properties']['wof:placetype'] |e }}</a>
    {% endif %}
  </small>
</li>
{% endfor %}
</ol>


