{% if pagination.cursor %}

<ul id="pagination" class="list-inline">
<li><a href="{{ pagination_url }}&cursor={{ pagination.cursor|e }}">next</a></li>
</ul>

<br clear="all" />

<div style="font-size:small;text-align:center;">
  There are <span class="hey-look">{{ pagination.total |number_format|e }} results</span><br /><br />
  There are so many results for this query that the Spelunker database can't do <code>page1, page2, page3...</code> style pagination without getting sad. There are actually <span class="hey-look">{{ pagination.pages |number_format|e }} pages</span> worth of results for this query but as of this writing there is only the <span class="hey-look">"next page"</span> of results. We all have our limits, right? Speaking of limits, these query results have a pretty short shelf life. As long as you are paging through the results everything will be okay but if left idle for too long (about 5 minutes) they will expire and you'll need to perform a new query. It's good to have constraints to work against, right?
</div>

{% else %}

{% if pagination.pages > 1 %}

<ul id="pagination" class="list-inline">
{% if pagination.page == 1 %}
<li>start</li>
{% else %}
<li><a href="{{ pagination_url }}&page={{ pagination.page-1 }}">previous</a></li>
{% endif %}
{% if pagination.page == pagination.pages %}
<li>stop</li>
{% else %}
<li><a href="{{ pagination_url }}&page={{ pagination.page + 1 }}">next</a></li>
{% endif %}
</ul>

<br clear="all" />

<div style="font-size:small;text-align:center;">
{% if pagination.total==0 %}

{% elif pagination.total==1 %}

{% else %}
There are <span class="hey-look">{{ pagination.total |number_format|e }} results</span>

{% if pagination.pages > 1 %}
and this is <span class="hey-look">page {{ pagination.page |number_format|e }}</span> of {{ pagination.pages |number_format|e }}
{% endif %}

{% endif %}
</div>

{% endif %}

{% endif %}
