{% if es_query %}
{% include "inc_query.html" %}
{% endif %}

<div class="row">
<div id="map"></div>
</div>

<div class="row">

<div class="col-md-7">

<ol class="list">
{% for doc in docs %}
<li class="loc" data-latitude="{% if doc.properties.get('lbl:latitude') %}{{ doc.properties.get("lbl:latitude") |e }}{% else %}{{ doc['properties']['geom:latitude'] | e}}{% endif %}" data-longitude="{% if doc.properties.get('lbl:longitude') %}{{ doc.properties.get("lbl:longitude") |e }}{% else %}{{ doc['properties']['geom:longitude'] | e}}" data-id="{{ doc['properties']['wof:id'] | e}}{% endif %}">
  <code>{{ doc['properties']['wof:id'] |e }}</code>
  <a href="{{ url_for('info', id=doc['properties']['wof:id']) }}">{{ doc['properties']['wof:name'] |e }}</a>
  <small>
    &#8212;
    {% if doc['properties']['iso:country'] |e %}
    this is a <a href="{{ url_for('placetype', placetype=doc['properties']['wof:placetype']) }}">{{ doc['properties']['wof:placetype'] |e }}</a> in <span class="hey-look">{{ doc['properties']['iso:country'] |e }}</span>
    {% else %}
    {% if doc['properties']['wof:placetype'] == "ocean" %}this is an{% else %}this is a{% endif %} <a href="{{ url_for('placetype', placetype=doc['properties']['wof:placetype']) }}">{{ doc['properties']['wof:placetype'] |e }}</a>
    {% endif %}
  </small>
  {% if doc.properties.get('gn:population', None) %}
  <small>
    and its <span class="hey-look">population</span> is {{ doc.properties.get('gn:population') |number_format|e }}
  </small>
  {% endif %}

{% if doc.properties.get("edtf:deprecated") and doc.properties.get("wof:superseded_by") %}
<small class="flagged">this record has been both <strong>deprecated</strong> and <strong>superseded</strong></small>
{% elif doc.properties.get("edtf:deprecated") %}
<small class="flagged">this record has been <strong>deprecated</strong></small>
{% elif doc.properties.get("wof:superseded_by") %}
<small class="flagged">this record has been <strong>superseded</strong></small>
{% else %}{% endif %}

</li>
{% endfor %}
</ol>

</div>

<div class="col-md-5">

{% if facets %}
{% for k in facets.keys() %}
<h4>filter by <span class="hey-look">{{ k|e }}</span></h4>

<div style="max-height:200px;overflow:scroll;border-bottom:solid thin;margin-bottom:2em;">
<ul class="list-inline">
{% for f in facets[ k ] %}
{% if k == 'concordance' %}

<li class="facet_{{ k | e }}"  data-value="{{ f.key | e }}"><a href="{{ facet_url}}&{{k|e}}={{ f.key |e}}" class="facet_{{ k | e }}_{{ f.key|e}}">{{ f.fullname | e }}</a> <small>{{ f.doc_count |number_format|e }}</small></li>

{% else %}

<li class="facet_{{ k | e }}"  data-value="{{ f.key | e }}"><a href="{{ facet_url}}&{{k|e}}={{ f.key |e}}" class="facet_{{ k | e }}_{{ f.key|e}}">{{ f.key | e }}</a> <small>{{ f.doc_count |number_format|e }}</small></li>

{% endif %}
{% endfor %}
</ul>
</div>

{% endfor %}
{% endif %}

{% include "inc_log.html" %}

</div>

</div>

<div class="row">
{% include "inc_pagination.html" %}
</div>

  {% if docs %}
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.docs.js') }}"></script>
  {% else %}
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.whosonfirst.spelunker.init.doc.js') }}"></script>
  {% endif %}
