{% if pagination.pages > 1 %}
<ul id="pagination" class="list-inline">
{% if pagination.page == 1 %}
<li>start</li>
{% else %}
<li><a href="{{ pagination_url }}&page={{ pagination.page-1 }}">previous</a></li>
{% endif %}
{% if pagination.page == pagination.pages %}
<li>stop</li>
{% else %}
<li><a href="{{ pagination_url }}&page={{ pagination.page + 1 }}">next</a></li>
{% endif %}
</ul>
<br clear="all" />
<div style="font-size:small;text-align:center;">
{% if pagination.total==0 %}

{% elif pagination.total==1 %}

{% else %}
There are <span class="hey-look">{{ pagination.total |e }} results</span>

{% if pagination.pages > 1 %}
and this is <span class="hey-look">page {{ pagination.page |e }}</span> of {{ pagination.pages |e }}
{% endif %}

{% endif %}

{% endif %}
