<div class="row">
<div id="es-query">
<pre style="font-size:.9em;max-height:200px;y-overslow:scroll;">{{ es_query|pprint|e }}</pre>

{% if request.path.endswith('/descendants/') and g.enable_feature_bundler %}
<div style="text-align:left; float:left; margin-bottom:.5em; font-size:small;"><a href="{{ url_for('index') }}download/{{ doc.properties.get("wof:id") | e }}/">Download descendants</a> of {{ doc.properties.get("wof:name") | e }}.</div>
{% endif %}

{% if request.args.get('include', '') != "deprecated" %}
<div style="text-align:right; float:right; margin-bottom:.5em; font-size:small;">Would you like try this query again to <a href="{{ pagination_url|e }}&include=deprecated">include records that have been deprecated</a> ?</div>
{% endif %}

</div>

</div>
