{% extends "base.html" %}
{% block title %}Who's On First Spelunker{% endblock %}
{% block content %}

<ul class="list">
<li><a href="{{ url_for('placetypes') }}">placetypes</a></li>
<li><a href="{{ url_for('languages_official') }}">languages</a> <small class="caveat">work in progress</small></li>
<li><a href="{{ url_for('tags') }}">tags</a></li>
<li><a href="{{ url_for('concordances') }}">concordances</a></li>
<li><a href="{{ url_for('mt_hierarchies') }}">machine tags</a></li>
<li><a href="{{ url_for('megacities') }}">megacities</a></li>
<li><a href="{{ url_for('nullisland') }}">null island "visitors"</a></li>
</ul>
{% endblock %}
