{% extends "base.html" %}
{% block title %}lieu{% endblock %}

{% block content %}

<div class="row" style="margin-bottom:1em;">

<table border="1" width="100%">
  <tr  style="background-color:#ccc;">
    <th style="padding:1em;">Dupes</th>
    <th style="padding:1em;">Not dupes</th>
    <th style="padding:1em;">Exact dupes</th>
    <th style="padding:1em;">Likely dupes</th>
    <th style="padding:1em;">Needs review</th>
  </tr>
  <tr>
    <td style="padding:1em;">
      {% if stats.is_dupe %}<a href="{{ pagination_url }}&amp;is_dupe=1">{{ stats.is_dupe | number_format | e }}</a>{% else %}&#8212;{% endif %}
    </td>
    <td style="padding:1em;">
      {% if stats.not_dupe %}<a href="{{ pagination_url }}&amp;not_dupe=1">{{ stats.not_dupe | number_format | e }}</a>{% else %}&#8212;{% endif %}
    </td>
    <td style="padding:1em;">
      {% if stats.exact_dupe %}<a href="{{ pagination_url }}&amp;exact_dupes=1">{{ stats.exact_dupe | number_format | e }}</a>{% else %}&#8212;{% endif %}
    </td>
    <td style="padding:1em;">
      {% if stats.likely_dupe %}<a href="{{ pagination_url }}&amp;likely_dupes=1">{{ stats.likely_dupe | number_format | e }}</a>{% else %}&#8212;{% endif %}
    </td>
    <td style="padding:1em;">
      {% if stats.needs_review %}<a href="{{ pagination_url }}&amp;needs_review=1">{{ stats.needs_review | number_format | e }}</a>{% else %}&#8212;{% endif %}
    </td>
  </tr>
</table>

</div>

<div class="row">

<table border="1">

{% for doc in docs %}

{% include "inc_lieu_doc_row.html" %}

{% endfor %}
</table>

<div class="row">
{% include "inc_pagination.html" %}
</div>

{% endblock %}
