{% extends "base.html" %}
{% block title %}lieu{% endblock %}

{% block content %}

{% include "inc_lieu_css.html" %}

<div class="row">
<ul>
{% if previous_pair %}<li><a href="{{ url_for('lieu_pair', id=previous_pair._id) | e }}" id="previous_page">previous</a></li>{% endif %}
{% if next_pair %}<li><a href="{{ url_for('lieu_pair', id=next_pair._id) | e }}" id="next_page">next</a></li>{% endif %}
</ul>
</div>

<div class="row">
<div id="map"></div>
</div>

<div class="row">

<table border="1" class="lieu-rollups">
{% set doc=pair %}
{% include "inc_lieu_rollup_header.html" %}
{% include "inc_lieu_rollup_row.html" %}
</table>

</div>

<div class="row">
<pre>{{ doc | pprint | e }}</pre>
</div>

<script type="text/javascript">

window.addEventListener("load", function load(event){

	var els = document.getElementsByClassName("lieu-record-principal");
	var principal = els[0];

	var lat = principal.getAttribute("data-lieu-latitude");
	var lon = principal.getAttribute("data-lieu-longitude");
	var id = principal.getAttribute("id");
	var zoom = 18;

	var min_lat = lat;
	var min_lon = lon;
	var max_lat = lat;
	var max_lon = lon;

	var map = mapzen.whosonfirst.leaflet.tangram.map_with_latlon('map', lat, lon, zoom);

	var feature = {
		"type": "Feature",
		"geometry": { "type": "Point", "coordinates": [ lon, lat ] },
		"properties": { "id": id, "lflt:label_text": id },
	};

	var style = {
		"color": "#000",
		"weight": 3,
		"opacity": 1,
		"radius": 10,
		"fillColor": "#b0c4de",
		"fillOpacity": 0.8
	};

	var handler = mapzen.whosonfirst.leaflet.handlers.point(style);
	mapzen.whosonfirst.leaflet.draw_point(map, feature, style, handler);

	var possible = {
		"exact_dupe" : "#8fbc8f",
		"likely_dupe" : "#fafad2",
		"needs_review" : "#ffffff",
	};

	var others = document.getElementsByClassName("lieu-record-other");
	var count = others.length;

	for (var i=0; i < count; i++){

		var other = others[i];
		var id = other.getAttribute("id");
		var lat = other.getAttribute("data-lieu-latitude");
		var lon = other.getAttribute("data-lieu-longitude");
		var classification = other.getAttribute("data-lieu-classification");

		if (lat < min_lat){
			  min_lat = lat;
		}

		if (lon < min_lon){
			  min_lon = lon;
		}

		if (lat > max_lat){
			  max_lat = lat;
		}

		if (lon < max_lon){
			  max_lon = lon;
		}

		var feature = {
			"type": "Feature",
			"geometry": { "type": "Point", "coordinates": [ lon, lat ] },
			"properties": { "id": id, "lflt:label_text": id },
		};

		var style = {
			"color": "#000",
			"weight": 2,
			"opacity": 1,
			"radius": 6,
			"fillColor": possible[classification],
			"fillOpacity": 0.8
		};

		var handler = mapzen.whosonfirst.leaflet.handlers.point(style);
		mapzen.whosonfirst.leaflet.draw_point(map, feature, style, handler);
	}
			  
	if ((min_lat != max_lat) || (min_lon != max_lon)){
			var sw = [ min_lat, min_lon ];
			var ne = [ max_lat, max_lon ];
			  map.fitBounds([ sw, ne ]);
	}			  
});

</script>

{% endblock %}
