{% extends "base.html" %}
{% block title %}
{% if whoami %}

{% if whatami=='namespace' %}
Predicates for things whose namespace is {{ whoami |e }} in Who's On First
{% elif what=='value' %}
Predicates for things whose value is {{ whoami |e }} in Who's On First
{% else %}
Predicates for {{ whoami |e }} Who's On First
{% endif %}

{% else %}

Predicates in Who's On First
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-12">

<h3>

{% if whoami %}

{% if whatami == 'namespace' %}
<span class="hey-look">Predicates</span> for things whose namespace is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% elif whatami == 'value' %}
<span class="hey-look">Predicates</span> for things whose value is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% else %}
Predicates for <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% endif %}

{% else %}
<span class="hey-look">Predicates</span> in Who's On First
{% endif %}
</h3>

<ul class="list-inline see-also see-also-mt">

{% if whatami == 'namespace' %}

<li>all the <a href="{{ url_for('mt_hierarchies_values_for_namespace', ns=whoami) }}" class="hey-look">values</a> that are part of the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=whoami) }}" class="hey-look">{{ whoami |e }}</a> namespace</li>

{% elif whatami == 'predicate' %}

{% elif whatami == 'value' %}

<li>all the <a href="{{ url_for('mt_hierarchies_namespaces_for_value', value=whoami) }}" class="hey-look">namespaces</a> for the value <a href="{{ url_for('mt_hierarchies_for_value', value=whoami) }}" class="hey-look">{{ whoami |e }}</a></li>

{% else %}

<li>all the <a href="{{ url_for('mt_hierarchies_namespaces') }}" class="hey-look">namespaces</a></li>
<li>all the <a href="{{ url_for('mt_hierarchies_predicates') }}" class="hey-look">predicates</a></li>

{% endif %}

<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>
</ul>

<ul class="list-inline">
{% for b in mt %}
<li>

{% if whatami=='namespace' %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.predicate) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns=whoami, pred=b.predicate) }}" class="italic hey-look">once</a> with this namespace 
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.predicate) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns=whoami, pred=b.predicate) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a> with this namespace 
{% endif %}

{% elif whatami=='value' %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.key) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred=b.key, value=whoami) }}" class="italic hey-look">once</a> with this value 
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.key) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred=b.key, value=whoami) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a> with this value
{% endif %}

{% else %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.predicate) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns='*', pred=b.predicate) }}" class="italic hey-look">once</a>
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_predicate', pred=b.predicate) }}" class="hey-look">{{ b.predicate|e }}</a> predicate has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns='*', pred=b.predicate) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a>
{% endif %}

{% endif %}
</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
