{% extends "base.html" %}
{% block title %}Hierarchies for {{ whoami |e }}{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-12">

<h3>
{% if whatami == 'namespace' %}
Hierarchies for the namespace <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% elif whatami == 'predicate' %}
Hierarchies for the predicate <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% elif whatami == 'value' %}
Hierarchies for the value <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% else %}
Hierarchies for <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% endif %}
</h3>

<ul class="list-inline see-also see-also-mt">

{% if whatami == 'namespace' %}

<li>only the <a href="{{ url_for('mt_hierarchies_predicates_for_namespace', ns=whoami) }}" class="hey-look">predicates</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>only the <a href="{{ url_for('mt_hierarchies_values_for_namespace', ns=whoami) }}" class="hey-look">values</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>

{% elif whatami == 'predicate' %}

<li>only the <a href="{{ url_for('mt_hierarchies_namespaces_for_predicate', pred=whoami) }}" class="hey-look">namespaces</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>only the <a href="{{ url_for('mt_hierarchies_values_for_predicate', pred=whoami) }}" class="hey-look">values</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>

{% elif whatami == 'value' %}

<li>only the <a href="{{ url_for('mt_hierarchies_namespaces_for_value', value=whoami) }}" class="hey-look">namespaces</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>only the <a href="{{ url_for('mt_hierarchies_predicates_for_value', value=whoami) }}" class="hey-look">predicates</a> for <span class="hey-look">{{ whoami |e }}</span></li>
<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>

{% else %}

<li>all the <a href="{{ url_for('mt_hierarchies_namespaces') }}" class="hey-look">namespaces</a></li>
<li>all the <a href="{{ url_for('mt_hierarchies_predicates') }}" class="hey-look">predicates</a></li>
<li>all the <a href="{{ url_for('mt_hierarchies_values') }}" class="hey-look">values</a></li>

{% endif %}
</ul>

<ul class="list-inline">
{% for b in mt %}
  <small>
    {% if b.doc_count == 1 %}
    <span class="italic">one place</span> is tagged 
    {% else %}
    <span class="italic">{{ b.doc_count |number_format|e }} places </span> are tagged 
    {% endif %}
  </small>
  <a href="{{ url_for('mt_places_for_namespace', ns_or_mt=b.machinetag) }}" class="hey-look">{{ b.machinetag|e }}</a>
</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
