{% extends "base.html" %}
{% block title %}
{% if whoami %}
{% if whatami == 'namespace' %}
Values for things whose namespace is {{ whoami |e }} in Who's On First
{% elif whatami == 'predicate' %}
Values for things whose predicate is {{ whoami |e }} in Who's On First
{% else %}
Values for {{ whoami |e }} in Who's On First
{% endif %}

{% else %}
Values in Who's On First
{% endif %}
{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-12">

<h3>
{% if whoami %}

{% if whatami == 'namespace' %}
<span class="hey-look">Values</span> for things whose namespace is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% elif whatami =='predicate' %}
<span class="hey-look">Values</span> for things whose predicate is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% else %}
Values for <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% endif %}

{% else %}
<span class="hey-look">Values</span> in Who's On First
{% endif %}

{% include "inc_caveat_machinetags.html" %}
</h3>

{% if es_query %}
{% include "inc_query_machinetags.html" %}
{% endif %}

<ul class="list-inline see-also see-also-mt">

{% if whatami == 'namespace' %}

<li>all the <a href="{{ url_for('mt_hierarchies_predicates_for_namespace', ns=whoami) }}" class="hey-look">predicates</a> that are part of the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=whoami) }}" class="hey-look">{{ whoami |e }}</a> namespace</li>

{% elif whatami == 'predicate' %}

<li>all the <a href="{{ url_for('mt_hierarchies_namespaces_for_predicate', pred=whoami) }}" class="hey-look">namespaces</a> for the predicate <a href="{{ url_for('mt_hierarchies_for_value', value=whoami) }}" class="hey-look">{{ whoami |e }}</a></li>

{% elif whatami == 'value' %}

{% else %}

<li>all the <a href="{{ url_for('mt_hierarchies_namespaces') }}" class="hey-look">namespaces</a></li>
<li>all the <a href="{{ url_for('mt_hierarchies_predicates') }}" class="hey-look">predicates</a></li>

{% endif %}

<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>
</ul>

<ul class="list-inline">
{% for b in mt %}
<li>

{% if whatami=='namespace' %}

{% if b.doc_count == 1 %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns=whoami, pred='*', value=b.key) }}" class="italic hey-look">once</a> with this namespace
{% else %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns=whoami, pred='*', value=b.key) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a> with this namespace
{% endif %}

{% elif whatami=='predicate' %}

{% if b.doc_count == 1 %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred=whoami, value=b.key) }}" class="italic hey-look">once</a> with this predicate
{% else %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred=whoami, value=b.key) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a> with this predicate
{% endif %}

{% else %}

{% if b.doc_count == 1 %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred='*', value=b.key) }}" class="italic hey-look">once</a>
{% else %}
  the value <a href="{{ url_for('mt_hierarchies_for_value', value=b.key) }}" class="hey-look">{{ b.key|e }}</a> has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns='*', pred='*', value=b.key) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a>
{% endif %}

{% endif %}

</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
