{% extends "base.html" %}
{% block title %}
{% if whoami %}

{% if whatami == 'predicate' %}
Namespaces for things whose predicate is {{ whoami |e }} in Who's On First
{% elif whatami == 'value' %}
Namespaces for things whose value is {{ whoami |e }} in Who's On First
{% else %}
Namespaces for {{ whoami |e }} in Who's On First
{% endif %}

{% else %}
Namespaces in Who's On First
{% endif %}

{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-12">

<h3>
{% if whoami %}

{% if whatami == 'predicate' %}
<span class="hey-look">Namespaces</span> for things whose predicate is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% elif whatami == 'value' %}
<span class="hey-look">Namespaces</span> for things whose value is <q class="hey-look">{{ whoami |e }}</q> in Who's On First
{% else %}
Namespaces for <span class="hey-look">{{ whoami |e }}</span> in Who's On First
{% endif %}

{% else %}
<span class="hey-look">Namespaces</span> in Who's On First
{% endif %}
</h3>

{% if es_query %}
{% include "inc_query_machinetags.html" %}
{% endif %}

<ul class="list-inline see-also see-also-mt">

{% if whatami == 'namespace' %}

{% elif whatami == 'predicate' %}

<li>all the <a href="{{ url_for('mt_hierarchies_values_for_predicate', pred=whoami) }}" class="hey-look">values</a> with the predicate <a href="{{ url_for('mt_hierarchies_for_predicate', pred=whoami) }}" class="hey-look">{{ whoami |e }}</a></li>

{% elif whatami == 'value' %}

<li>all the <a href="{{ url_for('mt_hierarchies_predicates_for_value', value=whoami) }}" class="hey-look">predicates</a> with the value <a href="{{ url_for('mt_hierarchies_for_value', value=whoami) }}" class="hey-look">{{ whoami |e }}</a></li>

{% else %}

<li>all the <a href="{{ url_for('mt_hierarchies_predicates') }}" class="hey-look">predicates</a></li>
<li>all the <a href="{{ url_for('mt_hierarchies_values') }}" class="hey-look">values</a></li>

{% endif %}

<li>all the <a href="{{ url_for('mt_hierarchies') }}" class="hey-look">machine tags</a></li>
</ul>

<ul class="list-inline">
{% for b in mt %}
<li>

{% if whatami == 'predicate' %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.key) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns=b.key, pred=whoami) }}" class="italic hey-look">once</a>
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.key) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate', ns=b.key, pred=whoami) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a>
{% endif %}

{% elif whatami == 'value' %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.key) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns=b.key, pred='*', value=whoami) }}" class="italic hey-look">once</a>
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.key) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace_and_predicate_and_value', ns=b.key, pred='*', value=whoami) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a>
{% endif %}

{% else %}

{% if b.doc_count == 1 %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.namespace) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace', ns_or_mt=b.namespace) }}" class="italic hey-look">once</a>
{% else %}
  the <a href="{{ url_for('mt_hierarchies_for_namespace', ns=b.namespace) }}" class="hey-look">{{ b.namespace|e }}</a> namespace has been used <a href="{{ url_for('mt_places_for_namespace', ns_or_mt=b.namespace) }}" class="italic hey-look">{{ b.doc_count |number_format|e }} times</a>
{% endif %}

{% endif %}

</li>
{% endfor %}
</ul>

</div>
</div>

{% endblock %}
