{% set page_title = "place types" %}
{% extends "base.html" %}
{% block title %}place types{% endblock %}
{% block content %}
<ol>
{% for doc in docs %}
<li>
  <a href="https://{{ request.host }}/id/{{ doc['properties']['wof:id'] |e }}/">{{ doc['properties']['wof:name'] |e }}</a>
  <code>{{ doc['properties']['wof:id'] |e }}</code>
  <small>&#8212; a {{ doc['properties']['wof:placetype'] |e }} in {{ doc['properties']['iso:country'] |e }}</small>
</li>
{% endfor %}
</ol>

{% include "inc_pagination.html" %}

{% endblock %}
