{% set page_title = "place types" %}
{% extends "base.html" %}
{% block title %}place types{% endblock %}
{% block content %}
<ul>
  <li>There are <a href="https://{{ request.host }}/types/country/" class="hey-look">{{ places.country |e }} countries</a></li>
  <li>And <a href="https://{{ request.host }}/types/region/" hey-look">{{ places.region |e }} regions</a></li>
  <li>And <a href="https://{{ request.host }}/types/county/" class="hey-look">{{ places.county |e }} counties</a></li>
  <li>And <a href="https://{{ request.host }}/types/locality/" class="hey-look">{{ places.locality |e }} localities</a></li>
  <li>And <a href="https://{{ request.host }}/types/neighbourhood/" class="hey-look">{{ places.neighbourhood |e }} neighbourhoods</a></li>
</ul>

<pre>{{ places |pprint|e }}</pre>
{% endblock %}
