flask
flask_cors
pycountry
tenacity
shapely
geojson
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-elasticsearch#egg=mapzen.whosonfirst.elasticsearch
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-meta#egg=mapzen.whosonfirst.meta
git+https://github.com/whosonfirst/py-machinetag#egg=machinetag
git+https://github.com/whosonfirst/py-machinetag-elasticsearch#egg=machinetag.elasticsearch
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-languages#egg=mapzen.whosonfirst.languages
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-sources#egg=mapzen.whosonfirst.sources
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes#egg=mapzen.whosonfirst.placetypes
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-utils#egg=mapzen.whosonfirst.utils
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-uri#egg=mapzen.whosonfirst.uri
