# http://gunicorn-docs.readthedocs.org/en/latest/configure.html#configuration-file
# -*-python-*-

import os
import multiprocessing
import ConfigParser

import mapzen.whosonfirst.spatial as spatial

spelunker_port = 'YOUR-SPELUNKER-PORT-GOES-HERE'
spelunker_root = 'YOUR-SPELUNKER-WWW-GOES-HERE'
spelunker_cfg = 'YOUR-SPELUNKER-CONFIG-NAME-GOES-HERE'

spelunker_cfg = os.path.join(speunker_root, spelunker_cfg)

workers = multiprocessing.cpu_count() * 2 + 1
worker_class = "egg:gunicorn#gevent"

cfg = ConfigParser.ConfigParser()
cfg.read(spelunker_cfg)

dsn = spatial.cfg2dsn(cfg, 'spatial')
os.environ['WOF_SPATIAL_DSN'] = dsn

os.environ['WOF_SEARCH_HOST'] = cfg.get('search', 'host')
os.environ['WOF_SEARCH_PORT'] = cfg.get('search', 'port')

bind = '127.0.0.1:%s' % spelunker_port
chdir = spelunker_root
