var mapzen = mapzen || {};
mapzen.whosonfirst = mapzen.whosonfirst || {};

mapzen.whosonfirst.config = (function(){

	var self = {

		// this is invoked by mapzen.whosonfirst.spelunker.init()
		// which in turn is invoked by mapzen.whosonfirst.spelunker.init.js
		// which is running code (20160202/thisisaaronland)

		'init': function(){

			var endpoint = document.body.getAttribute("data-wof-data-endpoint");

	    		if (endpoint == ""){
				var root = location.protocol + "//" + location.host;
				endpoint = root + "/data/";
	    		}
			else if (endpoint.substr(-1) != "/"){
				endpoint += "/";
			}

			mapzen.whosonfirst.uri.endpoint(endpoint);

			// You can probably turn this on safely but it is still technically
			// a work in progress; the code is being merged with master now but
			// disabled to make sure the rendering stuff works correcty and because
			// we like to fly close to the sun... (20160222/thisisaaronland)

			if (mapzen.whosonfirst.yesnofix) {
				mapzen.whosonfirst.yesnofix.enabled(false);
			}

			// Here is where we configure the Who's On First API details.
			// Set this to the key you got from https://mapzen.com/developers
			// (20170111/dphiffer)

			var api_key = 'mapzen-xxxxxx';

			if (mapzen.whosonfirst.leaflet.tangram) {
				mapzen.whosonfirst.leaflet.tangram.set_key(api_key);
			}

			// You may want to change this to places.dev.mapzen.com
			// if this is a dev thing and not a prod thing.
			var api_host = 'places.mapzen.com';

			if (mapzen.whosonfirst.api) {
				mapzen.whosonfirst.api.set_endpoint('https://' + api_host + '/v1');
				mapzen.whosonfirst.api.set_key(api_key);
			}
		}
	};

	return self;
})();
