var mapzen = mapzen || {};
mapzen.whosonfirst = mapzen.whosonfirst || {};

mapzen.whosonfirst.config = (function(){

	var self = {

		// this is invoked by mapzen.whosonfirst.spelunker.init()
		// which in turn is invoked by mapzen.whosonfirst.spelunker.init.js
		// which is running code (20160202/thisisaaronland)

		'init': function(){

			var root = document.body.getAttribute("data-abs-root-url");
			var data = root + "data/";

			if (mapzen.whosonfirst.uri) {
				mapzen.whosonfirst.uri.endpoint(data);
			}

			// You can probably turn this on safely but it is still technically
			// a work in progress; the code is being merged with master now but
			// disabled to make sure the rendering stuff works correcty and because
			// we like to fly close to the sun... (20160222/thisisaaronland)

			if (mapzen.whosonfirst.yesnofix) {
				mapzen.whosonfirst.yesnofix.enabled(false);
			}

			// Here is where we configure the Who's On First API details.
			// Set this to the key you got from https://mapzen.com/developers
			// (20170111/dphiffer)

			var api_key = 'XXXXXXXX';

			if (mapzen.whosonfirst.leaflet.tangram) {
				mapzen.whosonfirst.leaflet.tangram.set_api_key(api_key);
			}

			// You may want to change this to whosonfirst-api.dev.mapzen.com
			// if this is a dev thing and not a prod thing.
			var api_host = 'whosonfirst-api.mapzen.com';

			if (mapzen.whosonfirst.api) {
				mapzen.whosonfirst.api.set_endpoint('https://' + api_host + '/');
				mapzen.whosonfirst.api.set_key(api_key);
			}
		}
	};

	return self;
})();
