# http://gunicorn-docs.readthedocs.org/en/latest/configure.html#configuration-file
# -*-python-*-

import os
import multiprocessing
import configparser

spelunker_host = 'YOUR-SPELUNKER-WWW-HOST-GOES-HERE'
spelunker_port = 'YOUR-SPELUNKER-WWW-PORT-GOES-HERE'
spelunker_root = 'YOUR-SPELUNKER-WWW-ROOT-GOES-HERE'
spelunker_cfg = 'YOUR-SPELUNKER-FLASK-CONFIG-GOES-HERE'

spelunker_cfg = os.path.join(spelunker_root, spelunker_cfg)

if not os.path.exists(spelunker_cfg):
   raise Exception("Missing spelunker config file (%s)" % spelunker_cfg)

workers = multiprocessing.cpu_count() * 2 + 1

# http://docs.gunicorn.org/en/latest/settings.html#worker-processes
# the old way
# worker_class = "egg:gunicorn#gevent"
# the new way (as of... ?)

worker_class = "gunicorn.workers.ggevent.GeventWorker"

cfg = configparser.ConfigParser()
cfg.read(spelunker_cfg)

os.environ['SPELUNKER_SEARCH_HOST'] = cfg.get('search', 'host')
os.environ['SPELUNKER_SEARCH_PORT'] = cfg.get('search', 'port')
os.environ['SPELUNKER_SEARCH_INDEX'] = cfg.get('search', 'index')

os.environ['SPELUNKER_SLOW_QUERY_LOG'] = cfg.get('spelunker', 'slow_query_log')
os.environ['SPELUNKER_DATA_ROOT'] = cfg.get('spelunker', 'data_root')
os.environ['SPELUNKER_STATIC_ROOT'] = cfg.get('spelunker', 'static_root')

os.environ['SPELUNKER_ENABLE_FEATURE_BUNDLER'] = cfg.get('spelunker', 'enable_feature_bundler')
os.environ['SPELUNKER_ENABLE_FEATURE_BUNDLER_GISTS'] = cfg.get('spelunker', 'enable_feature_bundler_gists')
os.environ['SPELUNKER_ENABLE_FEATURE_STATICMAPS'] = cfg.get('spelunker', 'enable_feature_staticmaps')

os.environ['SPELUNKER_GITHUB_CLIENT_ID'] = cfg.get('spelunker', 'github_client_id')
os.environ['SPELUNKER_GITHUB_CLIENT_SECRET'] = cfg.get('spelunker', 'github_client_secret')
os.environ['SPELUNKER_GITHUB_REDIRECT_URI'] = cfg.get('spelunker', 'github_redirect_uri')
os.environ['SPELUNKER_GITHUB_STATE'] = cfg.get('spelunker', 'github_state')

bind = '%s:%s' % (spelunker_host, spelunker_port)
chdir = spelunker_root
